{% extends 'base_generic.html' %}
{% block content %}
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Статьи по вскрытию замков</h1>
    <a class="btn btn-lg btn-primary" href="https://openlocks.ru/blog/" role="button">Вскрытие замков »</a>
  </div>
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Автомобильные новости</h1>
    <a class="btn btn-lg btn-primary" href="https://dzen.ru/search?query=%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B8%20%D0%B0%D0%B2%D1%82%D0%BE&mt_link_id=kikkq1&utm_source=yandex&utm_medium=cpc&utm_campaign=SEARCH_Category_NewsAuto&yclid=4287876481830092799" role="button">Автомобильные новости »</a>
  </div>
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Выбор замков для дверей</h1>
    <a class="btn btn-lg btn-primary" href="https://journal.tinkoff.ru/guide/locks/?ysclid=lwdmyejaw0710654199" role="button">Выбор замков для дверей</a>
  </div>
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Цены на замки</h1>
    <a class="btn btn-lg btn-primary" href="https://www.21vek.by/door_locks/?ysclid=lwdn2lvp5r386131060" role="button">Цены на замки</a>
  </div>
</div>
{% endblock %}
